:root { 
--deep_purple_900:#28248c; 
--light_blue_A200:#37dbff; 
--gray_900:#202020; 
--black_900_3f:#0000003f; 
--white_A700_66:#ffffff66; 
--white_A700_33:#ffffff33; 
--black_900_33:#00000033; 
--black_900:#000000; 
--deep_purple_A400_dd:#6933ffdd; 
--white_A700_bc:#ffffffbc; 
--deep_purple_A400_00:#622aff00; 
--white_A700_19:#ffffff19; 
--deep_purple_A400:#622aff; 
--deep_purple_A200:#9d5bfe; 
--white_A700:#ffffff; 
--deep_purple_A200_dd:#9747ffdd; 
}